<!DOCTYPE html>
<html>
  <head>
    <title>AklegTweeter</title>
    <%= csrf_meta_tags %>
    <%=favicon_link_tag 'favicon.jpg' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- for Google -->
    <meta name="description" content="Tweet all of #akleg at the same time" />
    <meta name="keywords" content="#AKLeg Tweeter" />

    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="application-name" content="" />

    <!-- for Facebook -->
    <meta property="og:title" content="#AkLeg Tweeter" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://www.cybergenica.com/blog/wp-content/uploads/2014/03/ACME-Twitter-robot.gif" />
    <meta property="og:url" content="http://akleg-tweeter.herokuapp.com/" />
    <meta property="og:description" content="Tweet all of #akleg at the same time" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="#AkLeg Tweeter" />
    <meta name="twitter:description" content="Tweet all of #akleg at the same time" />
    <meta name="twitter:image" content="http://pauloliva.com/assets/profile.jpg" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
